<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - New_Web_Library</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/New_Web_Library.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid d-flex align-items-center">

                <!-- Left -->
                <div class="d-flex align-items-center gap-2">
                    <img src="~/images/Forum_Logo.jpg" style="height:52px;" />
                    <a class="navbar-brand"
                       asp-controller="Forum"
                       asp-action="Index">
                        Web_Library_Forum
                    </a>
                </div>

                <!-- Center -->
                <div class="mx-auto d-flex align-items-center gap-2">
                    <img src="~/images/Books_Logo.jpg" style="height:62px;" />
                    <a class="nav-link text-dark fw-bold"
                       asp-controller="Books"
                       asp-action="Index">
                        Back To Books
                    </a>
                </div>

                <!-- Right -->
                <div>
                    <partial name="_LoginPartial" />
                </div>

            </div>
        </nav>

    </header>
    <div class="container-fluid px-0 d-flex flex-column flex-grow-1">
        <main role="main" class="flex-grow-1 pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted ">
        <div class="container">
            &copy; 2026 - New_Web_Library - <a asp-area="" asp-controller="Welcome" asp-action="Contacts">Contacts</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>