@{
    ViewData["Title"] = "Contacts";
}

<h2>Library Contacts</h2>

<div class="card mt-4 p-4 shadow-sm">
    <h4>📍 Address</h4>
    <p>Here you would place your library address.</p>

    <h4>☎ Phone</h4>
    <p>Here you would place your phone number.</p>

    <h4>📧 Email</h4>
    <p>contact@yourlibrary.com</p>

    <h4>🕒 Working Hours</h4>
    <p>Monday - Friday: 09:00 - 18:00</p>
</div>